* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  border: 4px solid #2c2c2c;
  margin: 20px;
  padding: 5px;
}

.header {
  background-color: darkorchid;
  color: azure;
  font-size: 0.75em;
  padding: 15px 0;
  text-align: center;
  text-transform: uppercase;
}

.content {
  color: azure;
  display: flex;
  height: 50vh;
  font-size: 0.8em;
  text-transform: uppercase;
}

.sidebar {
  background-color: dodgerblue;
  flex: 0.6;
  display: flex;
  flex-direction: column;
}

.main,
.aside,
.nav {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
}

.main {
  background-color: peru;
  flex: 1;
}

.footer {
  background-color: dimgrey;
  color: azure;
  font-size: 0.7em;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
}
